<html>
  <head>
    <title>
      Create faq 
    </title>
  </head>
  <body>
    <form method="post" action="/faq">
      <input type="text" name="title" placeholder="Заголовок"><br>
      <textarea name="text" placeholder="Текст"></textarea><br>
      <input type="submit" value="Create FAQ question">
    </form>
  </body>
  <footer>
      <h1>
          <p>Contacts</p>
      </h1>
      <h3>
          <p>
              tel: 1 7543029731
              name: Vlad Buckach
          </p>
      </h3>
  </footer>
</html>
